      body {
    background-color: #ffffff;
    color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
    margin: 0;
    font-size: 24px;
  }
  

.grid {
    width: 15%;
    height: 10%;
    max-width: 20%;
    min-width: 10%;
    max-height: 40%;
    min-height: 15%; 
    display: grid;
    position: relative;
    text-decoration: none;
    font-size: 2vw;
    z-index: 1;
    text-align: center;
    left: 30vw;
  }
  
  .logogrid {
    width: 15%;
    height: 10%;
    max-width: 20%;
    min-width: 10%;
    max-height: 40%;
    min-height: 15%; 
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 2vw;
    z-index: 1;
  }
      .box {
    background-color: lightgray;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    opacity: .6;
  }

  .grid2 {
    width: 15%;
    height: 10%;
    max-width: 20%;
    min-width: 10%;
    max-height: 40%;
    min-height: 15%; 
    display: grid;
    position: relative;
    text-decoration: none;
    font-size: 2vw;
    z-index: 1;
    text-align: center;
    left: 82vw;
  }
      .footerbox {
    background-color: lightgray;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    opacity: .6;
  }

  .title {
      text-align: center;
     
  }

  .mySlides {
    display: none;
  }
  
  .slideshow-container {
    max-width: 60% !important;
    min-width: 30% !important;
    position: relative;
    margin: auto;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  footer {
    
    background-color: black;
    padding: 5%;
    color: #FFF;
    border: solid;
    border-color: #5c00e6;
    display: block;
  }
  
  .instaref_cam h1 {
    display: inline-block;
  }
  .logo {
    width: 100%;
    height: auto;
  }

